/* img{
    width: 50%;
    height: 50%;
} */
img {
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
    width: 72%;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 9px;
}

a:hover {
    text-decoration: none;
    font-weight: 700;
    color: #589443;
  }